<div>{{firstName}} &nbsp;<span>{{lastName}}</span></div>
	<div>{{birthCertificate.birthDate}},&nbsp;<span>{{birthCertificate.birthPlace}}</span></div>
	<div><br></div>
	<div>Nomine le {{nominationCertificates.nominationDate}}</div>
	<div>a {{nominationCertificates.nominationPlace}},&nbsp;<span>{{nominationCertificates.nominationPlace}}</span></div>
	<div><br></div>
	<div><img src="image/croix.jpg" width="20" height="20"> {{deathCertificate.deathDate}},&nbsp;<span>{{deathCertificate.deathPlace}}</span></div>
<div><br></div>